<!DOCTYPE html>  
    <html>
        <head>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title>我的足迹</title>
                    <style type="text/css">
                        html{height:100%}
                        body{height:100%;margin:0px;padding:0px}
                        #container{height:100%}
                    </style>
                    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RysbPb244gaNIUQ1pH0ldbR52ugEU7N6">
                    </script>
                    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js">
                    </script>
                    <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js">
                    </script>
        </head>
 
<body>  
    <div id="container"></div>
        <script type="text/javascript">
            var map = new BMap.Map("container");
            map.centerAndZoom(new BMap.Point(103.88194, 30.80111), 5);
            map.enableScrollWheelZoom(true);

            var points = [];
            var baidu_markers = [];
            var all_locations = {{ all_location|safe }}
            for(i=0;i<all_locations.length;i++){
                image_point = new BMap.Point(all_locations[i][0],all_locations[i][1]);
                points.push(image_point)
            }


            translateCallback = function (data){
                if(data.status === 0) {
                    for (var i = 0; i < data.points.length; i++) {
                        baidu_markers.push(new BMap.Marker(data.points[i]));
                        map.setCenter(data.points[i])
                    }
                    var markerClusterer = new BMapLib.MarkerClusterer(map, {markers:baidu_markers});
                }
            }
            setTimeout(function(){
                 var convertor = new BMap.Convertor();
                convertor.translate(points, 1, 5, translateCallback)
            }, 1000);


        </script>

</body>  
</html>