{% extends "bootstrap/base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block title %}登录{% endblock %}

{% block content %}

    <div class="page-header col-md-offset-5 col-md-2">
        <h3>你好,请登录<small><a class="btn btn-default" href="{{ url_for('main.register') }}">点击注册</a></small></h3>
    </div>
    <div class="col-md-offset-5 col-md-2">
    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember_me) }}
        <hr>
        {{ wtf.form_field(form.submit) }}
    </form>
    </div>
{% endblock %}