{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}添加照片{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>添加照片</h1>
</div>

    <ol class="breadcrumb" id="navigation">
        <li><a href="{{ url_for('main.show_albums') }}">我的相册</a></li>
        <li class="active">添加照片</li>
        <li class="pull-right"><a href="{{ url_for('main.show_album',id=album['_id'] )}}">返回相册</a></li>
    </ol>

    <div class="col-md-6">
            <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.photo,multiple='multiple') }}
                <p class="bg-warning">最大可以一次性上传10张照片，点击下方按钮确认上传</p>
                {{ wtf.form_field(form.submit) }}
            </form>
    </div>
{% endblock %}