{% extends "bootstrap/base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block title %}注册{% endblock %}

{% block content %}

    <div class="page-header col-md-offset-5 col-md-2">
    <h3>请输入注册信息</h3>
    </div>
    <div class="col-md-offset-5 col-md-2">
     <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password1) }}
        {{ wtf.form_field(form.password2) }}
        {{ wtf.form_field(form.name) }}
        <hr>
        {{ wtf.form_field(form.submit) }}
    </form>
    </div>

    <div>
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>

{% endblock %}